RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
<filesMatch ".(css|js|ico)$">
Header set Cache-Control "max-age=2628000, public"
</filesMatch>
<filesMatch ".(jpg|jpeg|png|gif|woff2)$">
Header set Cache-Control "max-age=700000, public"
</filesMatch>